p {
    font-:size 64px;
    font-weinght:blod;
}



body {
    font-family: verdana,geneva,sans-serif;
    background-color: antiquewhite;
    background-image: url("./abstract-gold-and-black-gradient-triangle-background-design-10032406-1710079670779-cover.webpS");
    background-size: cover;

}


